html {
  font-size: 16px;
}

.formData {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formContainer {
  text-align: center;
}

button {
  width: 30%;
  margin: auto;
}
.table {
  width: 100%;
}

.hidden {
  /* visibility: hidden; */
  display: none;
}

.show {
  /* visibility: visible; */
  display: 1;
}

.links {
  cursor: pointer;
}

@media (max-width: 700px) {
  html {
    font-size: 60%;
  }
}
